.sidebar 
{
    width: 200px;
    background-color: #3b3734;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #555250;
}
.sidebar h3 
{
    margin-top: 0;
}
.sidebar ul 
{
    list-style-type: none;
    padding: 0;
}
.sidebar li 
{
    margin: 10px 0;
}
.sidebar a 
{
    text-decoration: none;
    background-color: #3b3734;
    border: 2px solid black;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.sidebar a:hover 
{
    background-color: #333;
    cursor: pointer;
}
